* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-bottom: 60px;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

section {
    display: flex;
    justify-content: center;
}

section > div {
    margin: 30px 60px;
}

#left-side > img {
    width: 360px;
    margin: 30px 0px;
}

#right-side {
    width: 400px;
    height: 480px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.center {
    text-align: center;
}

.button-area {
    display: flex;
    margin-top: 40px;
}

.button-area > div {
    height: 45px;
    width: 100%;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 15px;
}

.button-area > div > img {
    margin-right: 20px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.divider > :nth-child(2) {
    width: 470px;
    padding: 0px 15px;
}

.divider > :first-child, .divider > :last-child {
    height: 1px;
    width: 100%;
    background: #e0e0e0;
}

.field-area {
    margin-top: 30px;
}

.field-area input {
    height: 45px;
    width: 100%;
    border: 1px solid #e0e0e0;
    outline: none;
}

#right-side > button {
    width: 100%;
    border: 0px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #42b549 radial-gradient(circle,transparent 1%,#42b549 1%) center/15e3%;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 3px;
}

.color-grey {
    color: #aeaeae;
}

.color-dark-grey {
    color: #5e5e5e;
}

.register-info {
    margin-top: 30px;
}

.register-info a{
    color: #42b548;
}